<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Dealership Review</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
</head>

<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-light bg-light">
    <a class="navbar-header navbar-brand d-flex flex-column align-items-center mb-2 text-decoration-none"
       href="{% url 'djangoapp:index' %}">
      <span class="brand">Best Cars</span>
      <span>Dealership Review</span>
    </a>
    <div class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li>
          <span class="navbar-header mr-2"> Welcome, </span>
          <span class="navbar-header mr-5 text-info"> {{ user.username }} </span>
          <button class="btn btn-primary">
            <a class="btn btn-link text-light text-decoration-none" 
               href="{% url 'djangoapp:logout' %}">Logout</a>
          </button>
        </li>
        {% else %}
        <li>
          <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" name="username" />
              <input type="password" class="form-control" placeholder="Password" name="psw" />
              <button class="btn btn-primary" type="submit">Login</button>
              <a class="btn btn-link text-decoration-none" 
                 href="{% url 'djangoapp:registration' %}">Sign Up</a>
            </div>
          </form>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav mt-3">
        <li class="nav-item">
          <a class="btn btn-link text-decoration-none" href="{% url 'djangoapp:about' %}">About Us</a>
          <a class="btn btn-link text-decoration-none" href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </li>
      </ul>
    </div>
	</nav>

	<div class="container d-flex flex-column mt-2">
		{% if message %}
		<div class="alert alert-warning"><b> {{ message }} </b></div>
		{% endif %}
		<section class="container d-flex justify-content-around pt-3">
			<!-- Login form -->
			<form class="container w-45 mr-5" action="{% url 'djangoapp:login' %}" method="post">
				<div>
					{% csrf_token %}
					<h1 class="about-title text-center">Login</h1>
					<div class="form-group ">
						<label for="username"><b>Username</b></label>
						<input id="username" class = "form-control mb-2" type="text" 
									 name="username" required />
						<label for="psw"><b>Password</b></label>
						<input id="psw" class = "form-control mb-2" type="password" 
									 name="psw" required />
					</div>
					<button class="btn btn-primary" type="submit">Login</button>
				</div>
			</form>
			<!-- Registration form -->
			<form class="container w-45" 
						style="border: 2px solid #ce9d5d; border-radius: 10px; box-shadow:0px 0px 20px 15px #ce9d5d;"
						action="{% url 'djangoapp:registration' %}" method="post">
				<div>
					{% csrf_token %}
					<h1 class="about-title text-center">Sign Up</h1>
					
					<div class="form-group">
						<label for="username"><b>Username</b></label>
						<input type="text" class="form-control mb-2" 
									 name="username" required>
						<label for="firstname"><b>First Name</b></label>
						<input type="text" class="form-control mb-2" 
									 name="firstname" required>
						<label for="lastname"><b>Last Name</b></label>
						<input type="text" class="form-control mb-2" 
									 name="lastname" required>
						<label for="psw"><b>Password</b></label>
						<input type="password" class="form-control mb-2" 
									 name="psw" required>
						<button class="btn btn-primary" type="submit">Sign up</button>
					</div>
				</div>
			</form>
			</section>
	</div>

</body>

</html>
